@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
}

<h1>Create New Product</h1>

<form method="post">
    <label>Product Name</label>
    <input type="text" asp-for="Name" class="form-control" required/>
    <br />
    <label>Description</label>
    <input type="text" asp-for="Description" class="form-control" required />
    <br />
    <label>Image Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" required />
    <br />
    <label>Price</label>
    <input type="number" asp-for="Price" class="form-control" required />
    <br />
    <label>Category</label>
    <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.categories" required></select>
    <br />

    <button class="btn btn-primary">Save</button>
</form>