@using KairaWebUI.DTOs.CollectionDtos
@model IEnumerable<ResultCollectionDto>

<section id="billboard" class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="section-title text-center mt-4" data-aos="fade-up">New Collections</h1>
            <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
                <p>Discover our latest fashion collections and trending styles</p>
            </div>
        </div>
        <div class="row">
            <div class="swiper main-swiper py-4" data-aos="fade-up" data-aos-delay="600">
                <div class="swiper-wrapper d-flex border-animation-left">
                    @foreach (var collection in Model)
                    {
                        <div class="swiper-slide">
                            <div class="banner-item image-zoom-effect">
                                <div class="image-holder">
                                    <a href="#">
                                        <img src="@collection.ImageUrl" alt="@collection.Title" class="img-fluid collection-image">
                                    </a>
                                </div>
                                <div class="banner-content py-4">
                                    <h5 class="element-title text-uppercase">
                                        <a href="#" class="item-anchor">@collection.Title</a>
                                    </h5>
                                    <p>@collection.Description</p>
                                    <div class="btn-left">
                                        <a href="#" class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Discover Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="icon-arrow icon-arrow-left">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </div>
            <div class="icon-arrow icon-arrow-right">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>
        </div>
    </div>
</section>

<style>
    /* Collection resimleri için sabit boyut */
    .banner-item .image-holder {
        width: 100%;
        height: 600px;
        overflow: hidden;
        position: relative;
    }

    .banner-item .collection-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    /* Responsive boyutlar */
    @@media (max-width: 1200px) {
        .banner-item .image-holder {
            height: 500px;
        }
    }

    @@media (max-width: 768px) {
        .banner-item .image-holder {
            height: 400px;
        }
    }

    @@media (max-width: 576px) {
        .banner-item .image-holder {
            height: 350px;
        }
    }

    /* Zoom efekti için düzeltme */
    .image-zoom-effect .image-holder a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .image-zoom-effect:hover .collection-image {
        transform: scale(1.05);
        transition: transform 0.5s ease;
    }

    .collection-image {
        transition: transform 0.5s ease;
    }
</style>
