@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<partial name="_BillboardPartial" model="Model.Collections" />

<section class="features py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="0">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
                    <h4 class="element-title text-capitalize my-3">Quality Products</h4>
                    <p>Discover our carefully selected fashion collections</p>
                </div>
            </div>
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="300">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24"><use xlink:href="#cart"></use></svg>
                    <h4 class="element-title text-capitalize my-3">Easy Shopping</h4>
                    <p>Simple and secure online shopping experience</p>
                </div>
            </div>
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="600">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24"><use xlink:href="#heart"></use></svg>
                    <h4 class="element-title text-capitalize my-3">Customer Service</h4>
                    <p>24/7 support for all your questions</p>
                </div>
            </div>
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="900">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24"><use xlink:href="#cart"></use></svg>
                    <h4 class="element-title text-capitalize my-3">Free Returns</h4>
                    <p>Easy returns within 30 days</p>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_ProductsPartial" model="Model.Products" />

<partial name="_VideoPartial" model="Model.Videos" />

<partial name="_TestimonialsPartial" model="Model.Testimonials" />

<section class="newsletter bg-light" style="background: url(~/kaira-1.0.0/images/pattern-bg.png) no-repeat;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 py-5 my-5">
                <div class="subscribe-header text-center pb-3">
                    <h3 class="section-title text-uppercase">Sign Up for our newsletter</h3>
                </div>
                <form id="form" class="d-flex flex-wrap gap-2">
                    <input type="text" name="email" placeholder="Your Email Address" class="form-control form-control-lg">
                    <button class="btn btn-dark btn-lg text-uppercase w-100">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</section>
